<!--Educacion-->
<div class="container" >
  <div class="row">
    <div class="col-11">
      <h3>Educación</h3>
    </div>
    <div class="col-1">
      <span class="iconoCruz"
        ><button><i class="fa-solid fa-plus"></i></button
      ></span>
    </div>
  </div>
  <!---->
  <div class="container" *ngFor="let education of educacionList">
    <div class="row">
      <div class="col-2">
        <span
          ><img
            class="img-fluid"
            [src]="education.logo"
            width="50px"
            height="50px"
            alt=""
        /></span>
      </div>
      <div class="col-9">
        <h5>{{education.capacitador}}</h5>
      </div>
      <div class="col-1">
        <span
          ><button><i class="fa-solid fa-pen lapiz"></i></button
        ></span>
        <span
          ><button><i class="fa-solid fa-trash-can basura"></i></button
        ></span>
      </div>
    </div>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <h6>{{education.tituloCap}}</h6>
        <h6>{{education.cursada}}</h6>
      </div>
      <div class="col-1"></div>
    </div>
  </div>
</div>
